@font-face {
  font-family: "A";
  src: url("Quicksand-VariableFont_wght.ttf");
}

@font-face {
  font-family: "I";
  src: url("MaterialSymbolsRounded.woff2");
}

:root {
  --s-pad-title: 0.4cm;
  --s-font-title: 24pt;
  --s-font-menu: 16pt;
  --s-font-content: 12pt;
  --s-font-icon-menu: 20pt;

  --s-sunwet: 0.9cm;
  --s-spinner: 0.9cm;
  --s-line: 0.07cm;
  --s-line-thin: 0.05cm;
  --s-line-thick: 0.1cm;
  --s-pad-small: 0.15cm;
  --s-pad: 0.3cm;
  --s-pad-large: 0.5cm;
}

@media (prefers-color-scheme: light) {
  :root {
    --c-background: #cdcfd4;
    --c-bg2: #dadce2;
    --c-background-menu-button-hover: var(--c-bg2);
    --c-background-menu-button-click: #e2e5ed;
    --c-background-menu: #adb1bc;
    --c-background-menu-buttons: #b7bbc7;
    --c-background-menu-buttons-hover: #c4c8d5;
    --c-background-menu-buttons-click: #cacedb;
    --c-foreground: black;
    --c-input-border: #9a9da8;
    --c-input-background: var(--c-bg2);

    --c-sunwet-light: blue;
    --c-sunwet-dark: green;
  }
}

@media not (prefers-color-scheme: light) {
  :root {
    --c-background: black;
    --c-background-menu: black;
    --c-foreground: white;

    --c-sunwet-light: #ddd7a4;
    --c-sunwet-dark: #88b2ff;
    --c-bg-dark: #2a2f35;
    --c-bg-dark2: #31373e;
    --c-bg-mid: #3c434b;
    --c-bg-mid2: #454e57;
    --c-fg: #bec8d3;
    --c-fg2: #6d7885;
    --c-fg-err: #e87070;
  }
}

/* General */
vbox {
  display: flex;
  flex-direction: column;
}

hbox {
  display: flex;
  flex-direction: row;
}

space {
  flex-grow: 1;
}

.g_error {
  font-size: 14pt;
  color: var(--c-fg-err);
}

icon,
.g_icon {
  font-family: "I";
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  --s-icon: 0.7cm;
  width: var(--s-icon);
  height: var(--s-icon);
}

icon.g_icon_rel {
  font-size: 30pt;
  font-weight: 200;
  --s-icon: 1.2cm;
  margin-bottom: calc(-0.5 * var(--s-icon));
}

button.g_icon {
  font-size: 18pt;
}

button {
  padding: 0.3cm;
}

.g_qr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;

  &>svg {
    width: 100%;
    aspect-ratio: 1/1;
  }
}

input,
select {
  border: 0.04cm solid var(--c-input-border);
  background-color: var(--c-input-background);
  padding: 0.1cm;
  border-radius: 0.2cm;
  max-width: 9999cm;
}

input {
  flex-grow: 1;
}