@font-face {
  font-family: "A";
  src: url("Quicksand-VariableFont_wght.ttf");
}

@font-face {
  font-family: "I";
  src: url("MaterialSymbolsRounded.woff2");
}

:root {
  --s-sunwet: 0.9cm;
  --s-spinner: 0.9cm;
}

@media (prefers-color-scheme: light) {
  :root {
    --c-sunwet-light: blue;
    --c-sunwet-dark: green;
  }
}

@media not (prefers-color-scheme: light) {
  :root {
    --c-sunwet-light: #ddd7a4;
    --c-sunwet-dark: #88b2ff;
    --c-bg-dark: #2a2f35;
    --c-bg-dark2: #31373e;
    --c-bg-mid: #3c434b;
    --c-fg: #bec8d3;
    --c-fg: #6d7885;
    --c-fg-err: #e87070;
  }
}

/* General */
.g_error {
  font-size: 14pt;
  color: var(--c-fg-err);
}

.g_icon {
  font-family: "I";
  font-size: 24pt;
  width: 1.5cm;
  height: 1.5cm;
}

.g_svgicon {
  mask-size: contain;
  mask-type: alpha;
}

.g_qr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;

  & > svg {
    width: 100%;
    aspect-ratio: 1/1;
  }
}

/* Specific */
html,
body {
  background-color: var(--c-background);
  height: 100vh;
  width: 100dvw;
  max-width: 100dvw;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 1fr;

  & > * {
    grid-column: 1;
    grid-row: 1;
  }
}

.s_page,
.s_menu,
.g_modal {
  /*z-index: 0;*/
}

.s_page,
.s_menu {
  background-color: var(--c-bg-mid);
}

.s_titlebar {
  background-color: var(--c-bg-dark);
  margin-top: 0.2cm;
  padding: 0.1cm 0;
  color: var(--c-fg);
  gap: 0;

  & h1 {
    padding: 0 0.4cm;
  }
}

.s_title_icon {
  padding: 0 0.3cm;
}

.s_svgicon_logo {
  width: var(--s-sunwet);
  height: var(--s-sunwet);
  mask-image: url("icon.svg");
  &.on {
    background-color: var(--c-sunwet-light);
  }

  &.off {
    background-color: var(--c-sunwet-dark);
  }
}

.s_svgicon_spinner {
  background-color: var(--c-sunwet-dark);
  width: var(--s-spinner);
  height: var(--s-spinner);
  mask-image: url("spinner.svg");
}

button:hover .g_svgicon {
  &.on {
    background-color: var(--c-sunwet-dark);
  }

  &.off {
    background-color: var(--c-sunwet-light);
  }
}

.s_title_icon_spacer {
  display: block;
  background-color: var(--c-bg-dark2);
  border-radius: 0.1cm;
  height: 100%;
  width: 0.1cm;
}

h1 {
  font-size: 24pt;
}

.s_menu {
  & .s_body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10cm, 1fr));
    row-gap: 0.2cm;
    column-gap: 0.2cm;
    justify-content: center;
    & a,
    & button {
      border: 0.07cm solid var(--c-fg2);
      border-radius: 0.1cm;
      color: var(--c-fg);
      padding: 0.15cm;

      &:hover {
        border-color: var(--c-fg);
      }
    }
  }
}

.s_body {
  padding: 0.5cm 0.3cm;
}

.s_transport {
  padding: 0 var(--s-content-padding);
  background-color: white;
}

.s_seekbar {
  max-width: 8cm;
}

.s_listview_body {
  padding: var(--s-content-padding);
}

.listview_layout_table {
  padding-bottom: 0.2cm;
}

.listview_layout_individual {
  gap: 0.1cm;
}

.listview_nest {
  gap: 0.5cm;
}

/* Wide/not phone */
@media (min-aspect-ratio: 1/1) {
}

/* Tall/phone */
@media not all and (min-aspect-ratio: 1/1) {
}
